.assignmentRow{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-start;
	border-bottom:1px dashed rgb(105, 102, 102);
	padding-bottom:15px;
	margin-bottom:15px;
}
.assignmentImg {
    width:150px;
    height:150px;
    border-style: solid;
    border-color: #60a2d8;
    border-width: thin;
    border-radius: 20px;
}
.assignmentImg img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.assignmentSummary{	
    flex:1;
    padding:0 20px;
    font-family: 'Calibri';
}
.assignmentHeader{
    margin:0;
    padding:0;
    font-family: 'Calibri';
}
.assignmentDate{

}

.redirectButton {
    background-color: #60a2d8;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 50px;
}

.redirectButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

